
/* фоновое изоюражение "тела" сайта */
body {
    background-image: url(content/16.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
/* перемещенный заголовок на середину, выделенный черным фоном */
h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 25px;
    background-color: black;
    color: white;
    text-align: center;
}
/* тоже самое, что и с заголовком  */
p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    font-size: 19px;
    background-color: black;
    color: white;
}
/* убрать нижнее подчеркивание гиперссылки */
a {
    text-align: center;
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    background-color: black;
    font-size: 19px;
}

/* выделяется цветом при наведении курсором */
a:hover {
    color:aqua;
}
